<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/js/main.js"></script>

    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <title>XNoobs</title>
</head>

<body>
<header>
    <button class="home-button">
        <svg class="button-svg">
            <rect class="button-rect"></rect>
        </svg>
        xnoobs
    </button>

    <div class="menu-and-language">
        <ul class="menu">
            <li>
                <a href="#section-2" class="portfolio-button menu-button">Квест</a>
            </li>
            <li>
                <a href="#section-3" class="portfolio-button menu-button">инфраструктура</a>
            </li>
            <li>
                <a href=".section-7" class="portfolio-button menu-button">маршрут</a>
            </li>

            <li>
                <a href="#section-5" class="contact-button menu-button">Регистрация</a>
            </li>
            <li>
                <a href=".section-4" class="about-button menu-button">О нас</a>
            </li>
        </ul>

    </div>

    <div class="mobile-button" onclick="menu(this); show();">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
</header>

<div class="vertical-menu">
    <button class="vertical-menu-portfolio">Портфолио</button>
    <button class="vertical-menu-about">О нас</button>
    <button class="vertical-menu-contact">Контакты</button>
</div>

<section id="section-1">
    <img src="../static/images/logo.png" alt="" class="logo"/>
    <p class="slogan">По названию видно — команда сильная</p>
    <div class="arrow-down">
        <div class="indicator">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</section>
<section id="section-2">
    <div class="column active-column">
        <div class="content">
            <h1>1</h1>
            <div class="box">
                <h2>Усадьбы Иркутска</h2>
                <p>Настоящие произведения деревянного зодчества XIX века,
                    с дивными резными узорами на фасадах. Неспешные прогулки по аллеям цветущего сибирского сада.
                    Чаепитие в кружевной беседке. Разговоры под чарующие звуки старинного фортепиано.</p>
            </div>
        </div>
        <div class="portfolio-bg portfolio-bg1"></div>
    </div>

    <div class="column">
        <div class="content">
            <h1>2</h1>
            <div class="box">
                <h2>Вау</h2>
                <p>Вы можете почувствовать себя частью элиты сибирского города прошлых столетий, приняв участие в нашем квесте. Он не только покажет вам исторический центр, но и заинтерисует вас его изучить </p>
            </div>
        </div>
        <div class="portfolio-bg portfolio-bg2"></div>
    </div>

    <div class="column">
        <div class="content">
            <h1>3</h1>
            <div class="box">
                <h2>Подробности</h2>
                <p>Наш квест проведет вас по старинным усадьбам Иркутска, не давая вам продохнуть и заставляя находить отгадки на сложные вопросы. Вопросы будут сопровождаться AR технологиями, которые дадут вам возможность посмотреть на усадьбы в первоночальном облике </p>
            </div>
        </div>
        <div class="portfolio-bg portfolio-bg3"></div>
    </div>

    <div class="column">
        <div class="content">
            <h1>4</h1>
            <div class="box">
                <h2>AR</h2>
                <p>Далее на сайте Вы можее зарегистрироваться на квест, и скачать мобильное приложение для доступа к AR. Новый формат и нестандартные задачи подарят вам массу удоводьствия</p>
            </div>
        </div>
        <div class="portfolio-bg portfolio-bg4"></div>
    </div>
    <!--<div class="title">-->
    <!--<h1>Наши достижения</h1>-->
    <!--<div class="underline"></div>-->
    <!--<h2>Еще какой-то текст</h2>-->
    <!--</div>-->

    <div class="portfolio">
        <div class="portfolio-title">
            <img class="visualisation-1" src="../static/images/gorod-noch-ogni-zdaniya-svet.jpg" alt="">
            <div class="text-discription">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolore error eveniet impedit nobis numquam omnis optio saepe, tempora vel?</p>
            </div>
        </div>
        <div class="portfolio-title">
            <img class="visualisation-2" src="../static/images/gorod2.jpg" alt="">
            <div class="text-discription">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolore error eveniet impedit nobis numquam omnis optio saepe, tempora vel?</p>
            </div>
        </div>
        <div class="portfolio-title">
            <img class="visualisation-1" src="../static/images/gorod3.jpg" alt="">
            <div class="text-discription">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolore error eveniet impedit nobis numquam omnis optio saepe, tempora vel?</p>
            </div>
        </div>
        <div class="portfolio-title">
            <img class="visualisation-2" src="../static/images/gorod4.jpg" alt="">
            <div class="text-discription">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolore error eveniet impedit nobis numquam omnis optio saepe, tempora vel?</p>
            </div>
        </div>
    </div>
</section>
<section id="section-3">
    <div class="title title-2">
        <h1>Кто мы такие?</h1>
        <div></div>
        <h2>Еще какой-то текст</h2>
    </div>
</section>
<div class="section-7"></div>
<section id="section-7">
    <div class="wrapper_route">
        <div class="tabs_route">
            <div class="tab_route">3 команды</div>
            <div class="tab_route">4 команды</div>
            <div class="tab_route">5 команд</div>
            <div class="tab_route">6 команд</div>
            <div class="tab_route">7 команд</div>
        </div>
        <div class="tab_content_route">
            <div class="tab_item_route">
                <img src="https://github.com/timakon/Js_Menu/blob/master/images/cat1.jpg?raw=true" alt="">
                <img src="https://github.com/timakon/Js_Menu/blob/master/images/cat2.jpg?raw=true" alt="">
                <img src="https://github.com/timakon/Js_Menu/blob/master/images/cat3.jpg?raw=true" alt="">
            </div>
            <div class="tab_item_route">
                <img src="https://github.com/timakon/Js_Menu/blob/master/images/cat1.jpg?raw=true" alt="">
                <img src="https://github.com/timakon/Js_Menu/blob/master/images/cat2.jpg?raw=true" alt="">
                <img src="https://github.com/timakon/Js_Menu/blob/master/images/cat3.jpg?raw=true" alt="">
                <img src="https://github.com/timakon/Js_Menu/blob/master/images/cat1.jpg?raw=true" alt="">
            </div>
            <div class="tab_item_route">
                <img src="https://github.com/timakon/Js_Menu/blob/master/images/cat1.jpg?raw=true" alt="">
                <img src="https://github.com/timakon/Js_Menu/blob/master/images/cat1.jpg?raw=true" alt="">
                <img src="https://github.com/timakon/Js_Menu/blob/master/images/cat1.jpg?raw=true" alt="">
                <img src="https://github.com/timakon/Js_Menu/blob/master/images/cat1.jpg?raw=true" alt="">
                <img src="https://github.com/timakon/Js_Menu/blob/master/images/cat1.jpg?raw=true" alt="">
            </div>
            <div class="tab_item_route">
                <img src="https://github.com/timakon/Js_Menu/blob/master/images/cat1.jpg?raw=true" alt="">
                <img src="https://github.com/timakon/Js_Menu/blob/master/images/cat1.jpg?raw=true" alt="">
                <img src="https://github.com/timakon/Js_Menu/blob/master/images/cat1.jpg?raw=true" alt="">
                <img src="https://github.com/timakon/Js_Menu/blob/master/images/cat1.jpg?raw=true" alt="">
                <img src="https://github.com/timakon/Js_Menu/blob/master/images/cat1.jpg?raw=true" alt="">
                <img src="https://github.com/timakon/Js_Menu/blob/master/images/cat1.jpg?raw=true" alt="">
            </div>
            <div class="tab_item_route">
                <img src="https://github.com/timakon/Js_Menu/blob/master/images/cat1.jpg?raw=true" alt="">
                <img src="https://github.com/timakon/Js_Menu/blob/master/images/cat1.jpg?raw=true" alt="">
                <img src="https://github.com/timakon/Js_Menu/blob/master/images/cat1.jpg?raw=true" alt="">
                <img src="https://github.com/timakon/Js_Menu/blob/master/images/cat1.jpg?raw=true" alt="">
                <img src="https://github.com/timakon/Js_Menu/blob/master/images/cat1.jpg?raw=true" alt="">
                <img src="https://github.com/timakon/Js_Menu/blob/master/images/cat1.jpg?raw=true" alt="">
                <img src="https://github.com/timakon/Js_Menu/blob/master/images/cat1.jpg?raw=true" alt="">
            </div>
        </div>
    </div>
</section>
<section id="section-5">
    <div class="title">
        <h1>Зарегистрируйся на квест</h1>
        <div></div>
        <h2>Получи удовольствие</h2>
    </div>

    <div class="forms">
        <form class="form" method="post">
            <div class="form-group">
                <input type="text" placeholder=" " class="form-input" name="name" id="name" required>
                <label for="name" class="form-label">Название команды</label>
            </div>
            <div class="form-group">
                <input name="email" type="email" placeholder=" " class="form-input" id="email" required>
                <label for="email" class="form-label">e-mail</label>
            </div>
            <input type="hidden" class="data-input">
            <button class="form-button">Отправить</button>
        </form>
    </div>
    <div class="qr-code">
        <img src="http://api.qrserver.com/v1/create-qr-code/?color=000000&amp;bgcolor=FFFFFF&amp;data=https%3A%2F%2Fxnoobs.ru%2Fapp%2Fdownload&amp;qzone=1&amp;margin=0&amp;size=400x400&amp;ecc=L" alt="qr code" />
        <a href="../app/download">Ссылка на скачивание</a>
    </div>
</section>
<div class="section-4"></div>
<section id="section-4">
    <div class="split">
        <div class="screen">
            <div class="card">
                <div class="img-box"><img src="../static/images/MK.jpg" alt=""></div>
                <h2>Максим Кокряшкин</h2>
            </div>
            <div class="person-info">
                <div class="img-box"><img src="../static/images/MK.jpg" alt=""></div>
                <div class="about-admin">
                    <h1>Максим Кокряшкин</h1>
                    <div class="languages">C# Python bash</div>
                    <div class="persanality-info">Умеет закрывать Vim <br> Администрирует UNIX-подобные системы</div>
                    <br>
                    <div class="number-admin">8 (985) 951-73-58</div>
                    <br>
                    <div class="email-admin">max.kokryashkin@gmail.com</div>
                </div>
            </div>
        </div>

        <div class="screen">
            <div class="card">
                <div class="img-box"><img src="../static/images/MS.jpg" alt=""></div>
                <h2>Матвей Скуфин</h2>
            </div>
            <div class="person-info">
                <div class="img-box"><img src="../static/images/MS.jpg" alt=""></div>
                <div class="about-admin">
                    <h1>Матвей Скуфин</h1>
                    <div class="languages">C# Python Java</div>
                    <div class="persanality-info">Android-developer<br>Backend-developer<br> Человек-вритуальная машина</div>
                    <br>
                    <div class="number-admin">8 (977) 521-19-12</div>
                    <br>
                    <div class="email-admin">matviei.skufin@gmail.com</div>
                </div>
            </div>
        </div>
        <div class="screen">
            <div class="card">
                <div class="img-box"><img src="../static/images/DI.jpg" alt=""></div>
                <h2>Дмитрий Иванцов</h2>
            </div>
            <div class="person-info">
                <div class="img-box"><img src="../static/images/DI.jpg" alt=""></div>
                <div class="about-admin">
                    <h1>Дмитрий Иванцов</h1>
                    <div class="languages">Java</div>
                    <div class="persanality-info">3d-моделист<br>Spring-developer</div>
                    <br>
                    <div class="number-admin">8 (903) 778-88-99</div>
                    <br>
                    <div class="email-admin">dim22xxx@gmail.com</div>
                </div>
            </div>
        </div>


        <div class="screen">
            <div class="card">
                <div class="img-box"><img src="../static/images/TK.jpg" alt=""></div>
                <h2>Тимофей Конев</h2>
            </div>
            <div class="person-info">
                <div class="img-box"><img src="../static/images/TK.jpg" alt=""></div>
                <div class="about-admin">
                    <h1>Тимофей Конев</h1>
                    <div class="languages">JavaScript ReactJS Node.js</div>
                    <div class="persanality-info">fullstack-developer</div>
                    <br>
                    <div class="number-admin">8 (963) 662-77-27</div>
                    <br>
                    <div class="email-admin">1910tim@mail.ru</div>
                </div>
            </div>
        </div>


        <div class="screen">
            <div class="card">
                <div class="img-box"><img src="../static/images/BT.jpg" alt=""></div>
                <h2>Бориc Табачников</h2>
            </div>
            <div class="person-info">
                <div class="img-box"><img src="../static/images/BT.jpg" alt=""></div>
                <div class="about-admin">
                    <h1>Борис Табачников</h1>
                    <div class="languages">JavaScript Sass Gulp</div>
                    <div class="persanality-info">frontend-developer</div>
                    <br>
                    <div class="number-admin">8 (985) 992-45-59</div>
                    <br>
                    <div class="email-admin">boristab23@gmail.com</div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper-admin">
        <div class="tabs">
            <div class="tab"><img src="../static/images/MK.jpg" alt=""></div>
            <div class="tab"><img src="../static/images/MS.jpg" alt=""></div>
            <div class="tab"><img src="../static/images/DI.jpg" alt=""></div>
            <div class="tab"><img src="../static/images/TK.jpg" alt=""></div>
            <div class="tab"><img src="../static/images/BT.jpg" alt=""></div>
        </div>
        <div class="tab_content">
            <div class="tab_item">
                <h1>Максим Кокряшкин</h1>
                <div class="languages">C# Python bash</div>
                <div class="persanality-info">Умеет закрывать Vim <br> Администрирует UNIX-подобные системы</div>
                <br>
                <div class="number-admin">8 (985) 951-73-58</div>
                <br>
                <div class="email-admin">max.kokryashkin@gmail.com</div>
            </div>
            <div class="tab_item">
                <h1>Матвей Скуфин</h1>
                <div class="languages">C# Python Java</div>
                <div class="persanality-info">Android-developer<br>Backend-developer<br> Человек-вритуальная машина</div>
                <br>
                <div class="number-admin">8 (977) 521-19-12</div>
                <br>
                <div class="email-admin">matviei.skufin@gmail.com</div>
            </div>
            <div class="tab_item">
                <h1>Дмитрий Иванцов</h1>
                <div class="languages">Java</div>
                <div class="persanality-info">3d-моделист<br>Spring-developer</div>
                <br>
                <div class="number-admin">8 (903) 778-88-99</div>
                <br>
                <div class="email-admin">dim22xxx@gmail.com</div>
            </div>
            <div class="tab_item">
                <div class="about-admin">
                    <h1>Тимофей Конев</h1>
                    <div class="languages">JavaScript ReactJS Node.js</div>
                    <div class="persanality-info">fullstack-developer</div>
                    <br>
                    <div class="number-admin">8 (963) 662-77-27</div>
                    <br>
                    <div class="email-admin">1910tim@mail.ru</div>
                </div>
            </div>
            <div class="tab_item">
                <h1>Борис Табачников</h1>
                <div class="languages">JavaScript Sass Gulp</div>
                <div class="persanality-info">frontend-developer</div>
                <br>
                <div class="number-admin">8 (985) 992-45-59</div>
                <br>
                <div class="email-admin">boristab23@gmail.com</div>
            </div>
        </div>
    </div>
</section>
<section id="section-6">
    <div class="contact">
        <div class="ring">
            <h1>Звоните</h1>
            <h2>8 (977) 521-19-12</h2>
        </div>
        <div class="write">
            <h1>Пишите</h1>
            <h2>mail@xnoobs.ru</h2>
        </div>
    </div>
    <footer>
        Copyright © 2019 XNoobs. Все права защищены.
    </footer>
</section>
</body>
</html>